.video-card-v{
    background-color: #252836;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
  padding-bottom: 1rem;
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  position: relative;
  
  }
  
  .video-card-v__player {
    width: 100%;
    position: relative;
  
    padding-top: 65%; 
  }
  
  
  .react-player-card {
    position: absolute;
    top: 0%;
    left:0%;
    right: 0%;
    /* left: -1%; */
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    overflow: hidden;
  }

  .video-card-v__head{
    display: flex;
    width: 90%;
  
  
  }
  .video-card-v__head-name{
    flex:1;
    font-size: 1rem;
    padding-left: 1rem;
    align-self: center;
    letter-spacing: 0.5px;
    color:#8c8ea3;
  }
  .video-card-v__avatar{
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    background-color:inherit;
    position: absolute;
    top:50%;
    left:70%;
    border:1.5px solid #84868e;
    border-radius: 100%;
  }
  .video-card-v__head-image{
    
    width: 3rem;  clip-path: circle();
    object-fit: cover;
    
  }
  .video-card-v__name{
    width: 93%;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
  }
  .video-card-v__info{
    color:#8c8ea3;
    padding-left: 1rem;
    display: flex;
    gap:1rem;
    font-size: 0.8rem;
  }