.watchlater-video{
    background-color: #1f1d2b;
    display: grid;
    grid-template-rows: 4rem auto ;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-areas:
      "nav nav"
      "sidebar  main ";
}
.nav {
    grid-area: nav;
  }
  .footer {
    width: 100%;
  
    grid-area: footer;
  }
  .side-bar {
    height: 100vh;
  
    background-color: #1f1d2b;
  
    grid-area: sidebar;
    display: flex;
    color: white;
    /* new */
    align-items: center;
  
    /* padding-left: 2rem; */
    padding-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }

  .main-watch{
    grid-area: main;
    height: auto;
    background-color: #1f1d2b;
    padding-left: 1rem;
    padding-right: 2rem;
    width: 95%;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  /* dropDown options styles */
.liked-option {
top:5%;
left: 98%;
/* right: 50%; */
  position: absolute;
}
  .liked-option__btn {
    font-size: 1.3rem;
    color: white;
    border: none;
    position: relative;
    background-color: inherit;
  }
  .liked-option__btn:hover{
    cursor: pointer;
  }
  .dropdown-option {
    position: absolute;
    top: 50%;
    right: 95%;
    /* left: 78%; */
    overflow: hidden;
  
    width: 13rem;
    z-index: 2;
    background-color: #252836;
  }
  
  .option-items {
    color: white;
    padding-left: 0.5rem;
    display: flex;
    align-items: flex-end;
  
    gap: 1rem;
    padding-bottom: 0.5rem;
  }
  .option-items:hover {
    cursor: pointer;
    background-color: #353340;
  }
  .option-items:hover .option-icon {
    color: #ff7551;
  }
  .option-icon {
    padding-top: 0.3rem;
    font-size: 1.5rem;
    align-self: center;
  }
  .dropdown-option__btn:hover {
    cursor: pointer;
  }
  .dropdown-option__btn {
    color: white;
  
    font-size: 0.8rem;
    letter-spacing: 1px;
  background-color: inherit;
    border: none;
  }