.side-bar__menu{
    padding-bottom: 2rem;
    /* padding-top: 2rem; */
    }
    
    .side-bar__menu-name{
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 700;
    color:#4b4a59;
    }
    .side-bar__menu-items{
        display: flex;
        gap:1rem;
        text-decoration: none;
    }
    .side-bar__menu-list{
    padding-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    
    }
    .sidebar__item-icon{
    
        width: 2rem;
        border-radius: 30%;
        
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #353340;
    
    }
    
    .home-icon{
        color:#808191;
        font-size: 1.1rem;
        
    }
    
    .side-bar__item-name{
        align-self: center;
        font-size: 0.9rem;
        color: #6f707f;
        letter-spacing: 0.5px;
    }
    .divider-s{
        width: 80%;
        border:0.5px solid #313339;
    }
    .theme-toggle{
    color:#353340;
    }
    
    /* Hover sidebar */
    
    .hv-itm:hover {
    
        cursor: pointer;
        color:white;
     }
     
    .hv-itm:hover .hv-ic-itm {
    cursor: pointer;
    background-color: #ff7551;
    }
    
    .hv-itm:hover .hv-ic{
       color:white;
    }
    .hv-itm:hover .hv-itm-nm{
        color:white;
    }
    