.side-bar {
  height: 100%;
  background-color: #1f1d2b;
  border-right: 1.5px solid #313339;
}
.side-bar__menu-options {
  padding-left: 1rem;
}
.side-bar__menu-options-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-bar__menu-name {
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #4b4a59;
}
.side-bar__menu-items {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: #6f707f;
  letter-spacing: 0.5px;
}
.active {
  background-color: #ff7551;
  color: #ffffff;
}
.side-bar__menu-list {
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar__item-icon {
  width: 2rem;
  border-radius: 30%;

  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353340;
}

.home-icon {
  color: #808191;
  font-size: 1.1rem;
  cursor: pointer;
}

.hv-ic {
  border-radius: 30%;
  color: #6f707f;
  font-size: 1.3rem;
}

/* Hover sidebar */

.side-bar__menu-active .hv-ic {
  color: #ff7551;
}
.side-bar__menu-active {
  color: white;
}

.hv-itm:hover {
  color: white;
}

.hv-itm:hover .hv-ic {
  color: #ff7551;
}
