.like-video{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem auto;
  grid-template-columns: 1.5fr 8fr;
  grid-template-areas: 
  "nav nav"
  "sidebar main"
  
  ;
  overflow:hidden
}
.nav{
  grid-area: nav;
}
.side-bar{
  grid-area: sidebar;
}
.like__main{
  grid-area: main;
  background-color: #1f1d2b;
  padding-bottom: 5rem;
  overflow-y: scroll;

}
.like-video__show{
  width: 90%;
  border: 1px solid #313339;
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0rem;
  display: flex;
  position: relative;

}
.heading__main{

}
.heading__name{
  
}
.like__options-items{
  height: 2rem;
  width: 6rem;
  display: flex;
  position: absolute;
  gap:1rem;
  left: 90%;
  top:33%;
  align-items: center;
  background-color: #1f1d2b;
  justify-content: center;
 
}
.dropdown-option__btn{
background: none;
color:#ffffff;
border:none;
cursor: pointer;
}
