.sign-up{
    width: 100%;
    height: 100vh;
    background-color: #1f1d2b;
    display: grid;
    grid-template-columns: 38rem auto;
    grid-template-areas: 
    "left right"
    
    
    ;
}
.sign-up__left{
grid-area: left;
}
.sign-up__right{
    grid-area: right;
    width: 100%;
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-areas: 
    "nav"
    "main"
}
.sign-up__main{

    grid-area: main;
}
.sign-up__main-header{
    color:#fefefe;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .sign-up__header-name{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  }
  .sign-up__user-info{
      width: 100%;
    
      display: flex;
      flex-wrap: wrap;
      gap:4rem;
  }
  
  .sign-up__form-info{
 width: 60%;
  
  }
  .sign-up__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sign-up__button-info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    flex-wrap: wrap;
  }
  