@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;400;700&display=swap");

:root {
  --background-color: #1f1d2b;
  --primary-color: #252836;
  --secondary-color: #ffffff;
  --heading-color: #8b8da2;
  --highlight-color: #fc7551;
  --text-color: #6f707f;
}

* {
  margin: 0%;

  padding: 0%;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* max-height: 100%; */

  box-sizing: border-box;
}
body {
  background-color: #1f1d2b;
}
