
  .videos-h__card {
    height:auto;
    display: flex;
    width: 100%;
    height:auto;
    position :relative;
    /* flex-wrap: wrap; */
    /* border: 5px solid rgb(36, 5, 216); */

  }
  .videos-h__player {
    /* height: 7.5rem;  */

    width:17rem  ;

  }
  
  .videos-h__info {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .videos-h__name {
    font-size: 1.1rem;
    color: azure;
    letter-spacing: 0.3px;
  
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0rem;
    
  }
  
  .video-h__channel-name {
    color: #6d6d7d;
  }
  .video-h__views {
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    color: #6d6d7d;
  }
  